<script>
  let monkey_sizes = [];
  for (let i = 0; i < 2048; i++) {
    monkey_sizes.push(16 + Math.round(Math.random() * 128));
  }
</script>

<h1>
  {#each monkey_sizes as monkey_size}
    <span style="font-size: {monkey_size}px">🐵</span>
  {/each}
</h1>

<style>
  h1 {
    text-align: center;
  }
</style>
